/* USER SCROLL ANIMATION */

.scroll-section {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-out;
}

.scroll-section.show {
    opacity: 1;
    transform: translateY(0);
}

/* NAVBAR  */
.navbar .btn {
    font-weight: 500;
}
/* HERO  */
.hero {
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
                url('./assets/hero.jpg') center/cover no-repeat;
}

.hero-content {
    flex: 1;
    padding: 2rem;
}
/* CONTACT  */
.contact-section {
  scroll-margin-top: 80px; /* for smooth scroll alignment */
}

.contact-section input,
.contact-section textarea {
    border: 1px solid #cce0ff;
    transition: 0.3s;
}

.contact-section input:focus,
.contact-section textarea:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 5px rgba(13, 110, 253, 0.2);
}
/* Animation */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1.2s ease forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}